{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Life of Python</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<body>
    <center>
        <h1><marquee><i><b>Memes Of the Day</i></b></marquee></h1>

        <img src="{% static 'images/py3.jpg' %}" width="400px" height="400px">
        <h3> Sorry Brother... Rest In Peace😔🥺💔</h3>

        <img src="{% static 'images/fun.png' %}" width="500px" height="500px">
        <h3> HTML is a not a programming Language. HTML used to structure a web page and its content.</h3>

        <img src="{% static 'images/fun1.jpg' %}" width="400px" height="400px">
        <h3> Compare to all Programming Languages, Python is syntax Easy </h3>

        <img src="{% static 'images/py.jpg' %}" width="500px" height="500px">
        <h3>How to I find the Error in 80th Line😵😵😵</h3>

        <img src="{% static 'images/py2.jpg' %}" width="500px" height="500px">
        <h3>Now a Days, ChatGPT users are imagine they are a Programmers</h3>

        
    </center>
</body>
</html>